<ul class="task-list">
  <div class="flex flex-col gap-4">
    <div *ngFor="let taskitem of tasks" class="flex flex-col gap-1 border border-dashed p-2 rounded-xl border-neutral-400">
      <app-task-list [task]="taskitem"></app-task-list>
      <div class="flex justify-end">
        <app-delete-task [task]="taskitem" (taskDelete)="deleteTask($event)"></app-delete-task>
      </div>
    </div>

    <div class="flex flex-col gap-2 mt-4">
      <input type="text" [(ngModel)]="taskTitle" placeholder="Task Title" class="w-full rounded-xl border border-gray-300 placeholder-gray-600 p-2 outline-blue-500 focus:border-blue-500" />
      <input type="text" [(ngModel)]="description" placeholder="Description" class="w-full rounded-xl border border-gray-300 placeholder-gray-600 p-2  outline-blue-500 focus:border-blue-500" />
      
      <app-add-task 
        [taskTitle]="taskTitle" 
        [description]="description" 
        (taskAdd)="addTask($event)">
      </app-add-task>
    </div>
  </div>
</ul>
