<div class="card">
	<ng-container *ngIf="loading">Loading...</ng-container>
	<ng-container *ngIf="errorMsg">{{ errorMsg }}</ng-container>


	<ng-container *ngIf="weather && !loading">
		<div class="header">
			<h3>{{ weather.city }}, {{ weather.country }}</h3>
			<button (click)="removeCity()">Remove</button>
		</div>
		<div class="body">
			<img [src]="weather.iconUrl" alt="icon" />
			<div class="temp">{{ weather.temp | number:'1.0-0' }}°</div>
			<div class="desc">{{ weather.description }}</div>
			<div class="meta">Humidity: {{ weather.humidity }}% • Wind: {{ weather.wind }} m/s</div>
		</div>
	</ng-container>
</div>