<div class="w-3xl">
    <input type="text" [(ngModel)]="title" class="border border-gray-400 placeholder-gray-400 outline-none focus:ring-2 focus:ring-blue-400 p-2 rounded w-full mb-4" placeholder="Enter title of your blog...">
    <input type="text" [(ngModel)]="content" class="border border-gray-400 placeholder-gray-400 outline-none focus:ring-2 focus:ring-blue-400 p-2 rounded w-full mb-4" placeholder="Enter title of your content...">
    <p class="text-2xl">Title: {{ title }}</p>
    <p class="text-md">Content: {{ content }}</p>
</div>