<h4 class="text-2xl">Add a todo</h4>
<form (ngSubmit)="onSubmit()">
  <div class="space-y-12">

    <div class="border-b border-gray-900/10 pb-12">

        <div class="col-span-full">
          <label for="title" class="block text-sm/6 font-medium ">Todo Title</label>
          <div class="mt-2">
            <input [(ngModel)]="title" type="text" name="title" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
          </div>
        </div>

        <div class="col-span-full">
          <label for="description" class="block text-sm/6 font-medium ">Todo Description</label>
          <div class="mt-2">
            <input id="description" type="text" name="description" [(ngModel)]="description" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
          </div>
        </div>
        <button type="submit" class="p-2 rounded-2xl text-white bg-blue-500 mt-5">Add Todo</button>
    </div>
</div>
</form>