<div class="w-full p-10 bg-neutral-50 drop-shadow rounded-xl">
  <h2 class="text-3xl text-center font-semibold">Product Form</h2>
  <form  class="mt-6" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2">
      <select 
        formControlName="category" 
        class="w-full p-2 border border-gray-300 text-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
      >
        <option value="" disabled hidden>Select a category</option>
        <option value="shoes">Shoes</option>
        <option value="clothes">Clothes</option>
      </select>

      <div>
        <input type="text" name="productName" formControlName="productName" placeholder="Product Name" class="w-full p-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <p 
          *ngIf="
            productForm.get('productName')?.touched &&
            productForm.get('productName')?.errors?.['required']
          "
          class="text-red-500 text-sm"    
        >Product name is required.</p>
        <p 
          *ngIf="
            productForm.get('productName')?.touched &&
            productForm.get('productName')?.errors?.['minlength']
          "
          class="text-red-500 text-sm"    
        >Product name must be more than 3 characters.</p>
      </div>

      <div>
        <input type="text" name="sku" formControlName="sku" [appSkuFormat]="'SKU-'" placeholder="SKU" class="w-full p-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <p 
          *ngIf="
            productForm.get('sku')?.touched &&
            productForm.get('sku')?.errors?.['required']
          "
          class="text-red-500 text-sm"
        >SKU is required</p>
        <p 
          *ngIf="
            productForm.get('sku')?.touched &&
            productForm.get('sku')?.errors?.['invalidSkuFormat']
          "
          class="text-red-500 text-sm"
        >SKU must be in the format SKU-123</p>
      </div>

      <div *ngIf="selectedCategory === 'shoes'">
        <input type="number" name="shoeSize" formControlName="shoeSize" placeholder="Shoes Size" class="w-full p-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <p 
          *ngIf="productForm.get('shoeSize')?.touched && productForm.get('shoeSize')?.errors?.['required']" 
          class="text-red-500 text-sm"
        >Shoe size is required</p>
      </div>

      <div *ngIf="selectedCategory === 'clothes'">
        <input type="number" name="clothesSize" formControlName="clothesSize" placeholder="Clothes Size" class="w-full p-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <p 
          *ngIf="productForm.get('clothesSize')?.touched && productForm.get('clothesSize')?.errors?.['required']" 
          class="text-red-500 text-sm"
        >Clothes size is required</p>
      </div>

      <div>
        <input type="number" name="price" formControlName="price" placeholder="Price" class="w-full p-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <p 
          *ngIf="
            productForm.get('price')?.touched &&
            productForm.get('price')?.errors?.['required']
          "
          class="text-red-500 text-sm"
        >Price is required</p>
        <p *ngIf="productForm.get('price')?.touched && productForm.get('price')?.errors?.['min']" class="text-red-500 text-sm">
          Price must be greater than 0.
        </p>
      </div>
      
      <button [disabled]="productForm.invalid" class="bg-blue-500 text-white rounded-xl p-2 disabled:bg-blue-300"> Upload Product</button>
    </div>
  </form>
</div>