
<div class="container flex flex-col gap-10 mx-auto p-6 space-y-8">
  
  <app-brand-selector
    [brands]="store.brands"
    [selectedId]="(store.selectedBrandId | async) || ''"
    (brandChange)="store.selectBrand($event)">
  </app-brand-selector>


  <app-item-lis
    [items]="(store.itemsForSelectedBrand$ | async) || []"
    (addToCart)="store.addToCart($event)">
  </app-item-lis>


  <app-cart
    [cart]="(store.cart$ | async) || []"
    (requestBooking)="store.moveCartItemToOrders($event)"
    (addToWaiting)="store.moveCartItemToWaiting($event)">
  </app-cart>


  <app-waiting-list
    [waiting]="(store.waiting$ | async) || []"
    (moveToCart)="store.moveWaitingItemToCart($event)">
  </app-waiting-list>

   <app-orders [orders]="(store.orders$ | async) || []"></app-orders>
</div>

