<div class="dashboard">
  <div class="controls">
    <app-search (search)="addCity($event)"></app-search>
    <div class="units">
      <label>
        <input
          type="radio"
          name="units"
          (change)="setUnits('metric')"
          [checked]="units === 'metric'"
        />
        Celsius
      </label>
      <label>
        <input
          type="radio"
          name="units"
          (change)="setUnits('imperial')"
          [checked]="units === 'imperial'"
        />
        Fahrenheit
      </label>
    </div>
  </div>
  <div class="grid">
    <ng-container *ngFor="let city of (cities$ | async)">
      <app-city-card
        [weather]="cityStates[city]?.data"
        [loading]="cityStates[city]?.loading ?? false"
        [errorMsg]="cityStates[city]?.error || null"
        (remove)="removeCity($event)"
      >
      </app-city-card>
    </ng-container>
  </div>

</div>
